/* general styling, applies to whole website
body {
  background-color: #ffffeb;
  color: #453643;
}

hr {
  border: 1px solid #ff4000;
}

a {
  text-decoration: none;
  color: #453643;
}

a:hover {
  color: #00858f;
} */
