/* GENERAL STYLING, APPLIES TO ALL PAGES */
/* import roboto font from google */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* import Abril Fatface  */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

body {
  background-color: #e8b9c2;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  --nav-load-time: 300ms;
  --landing-load-time: 300ms;
  --about-load-time: 300ms;
  --footer-load-time: 300ms;
  --projects-load-time: 300ms;
  --contact-load-time: 300ms;
}

main {
  background-color: #ffffff;
  color: #1a1919;
  max-width: 100%;
  padding: 0px 0px 3px 0px;
}

h1 {
  font-family: "Abril Fatface", cursive;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #4a2c2a;
}

/* HEADER STYLING */
/* website name styling */
.website-name {
  text-align: center;
}

/* nav bar/menu styling */
.nav-bar {
  display: flex;
  justify-content: center;
}

#navigation {
  animation: nav-load var(--nav-load-time) ease-in 50ms;
}

@keyframes nav-load {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

/* FOOTER  STYLING*/
.find-me {
  font-style: italic;
  text-align: center;
  animation: footer-load var(--footer-load-time) ease-in 50ms;
}

@keyframes footer-load {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

/* LANDING STYLING */
.landing {
  animation: landing-load var(--landing-load-time) ease-in 50ms;
}

.greeting,
.tag-line {
  text-align: center;
  font-size: 60px;
}

.headshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  border-radius: 50%;
}

@keyframes landing-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* ABOUT ME PAGE STYLING */
.about-me {
  text-align: center;
  animation: about-load var(--about-load-time) ease-in 50ms;
}

@keyframes about-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

#about-me-header {
  font-size: 48px;
}

.about-me-spiel {
  margin: 0px 150px 40px;
}

/* MY PROJECTS PAGE STYLING */
.my-projects {
  text-align: center;
  animation: projects-load var(--projects-load-time) ease-in 50ms;
}

@keyframes projects-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

#my-projects-header {
  font-size: 48px;
}

/* CONTACT ME PAGE STYLING */
.contact-me {
  text-align: center;
  animation: contact-load var(--contact-load-time) ease-in 50ms;
}

@keyframes contact-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

#contact-me-header {
  font-size: 48px;
}

.contact-me-spiel {
  margin: 0px 150px 40px;
}
