/* GENERAL STYLING, APPLIES TO ALL PAGES */
/* import roboto font from google */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* import Abril Fatface  */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

body {
  background-color: #ffffeb;
  color: #453643;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

hr {
  border: 1px solid #ff4000;
  opacity: 0.5;
}

h1 {
  font-family: "Abril Fatface", cursive;
}

a {
  text-decoration: none;
  color: #453643;
}

a:hover {
  color: #00858f;
}

/* HEADER STYLING */
/* website name styling */
.website-name {
  text-align: center;
}

/* nav bar/menu styling */
.nav-bar {
  display: flex;
  justify-content: center;
}

/* FOOTER  STYLING*/
.find-me {
  font-style: italic;
  text-align: center;
}
