/* GENERAL STYLING, APPLIES TO ALL PAGES */
/* import roboto font from google */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* import Abril Fatface  */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

body {
  background-color: #e8b9c2;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  --nav-load-time: 300ms;
  --landing-load-time: 300ms;
  --about-load-time: 300ms;
  --footer-load-time: 300ms;
  --projects-load-time: 300ms;
  --contact-load-time: 300ms;
}

main {
  background-color: #ffffff;
  color: #1a1919;
  max-width: 100%;
  padding: 0px 0px 3px 0px;
}

h1 {
  font-family: "Abril Fatface", cursive;
}

a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.5s;
}

a:hover {
  color: #1a1919;
}

/* HEADER STYLING */
/* website name styling */
.website-name {
  text-align: center;
}

/* nav bar/menu styling */
.nav-bar {
  display: flex;
  justify-content: center;
}

#navigation {
  animation: nav-load var(--nav-load-time) ease-in 50ms;
}

@keyframes nav-load {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

/* FOOTER  STYLING*/
.copyright {
  font-style: italic;
  text-align: center;
  animation: footer-load var(--footer-load-time) ease-in 50ms;
}

@keyframes footer-load {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

/* LANDING STYLING */
.landing {
  animation: landing-load var(--landing-load-time) ease-in 50ms;
}

.greeting,
.tag-line {
  text-align: center;
  font-size: 60px;
}

.headshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  border-radius: 50%;
}

@keyframes landing-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* ABOUT ME PAGE STYLING */
.about-me {
  text-align: center;
  animation: about-load var(--about-load-time) ease-in 50ms;
}

@keyframes about-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

#about-me-header {
  font-size: 48px;
}

.about-me-spiel {
  margin: 0px 150px 40px;
}

.linkedin-link,
.github-link,
.resume-link {
  color: #1a1919;
}

.linkedin-link:hover,
.github-link:hover,
.resume-link:hover {
  color: #e8b9c2;
}

/* MY PROJECTS PAGE STYLING */
.my-projects {
  text-align: center;
  animation: projects-load var(--projects-load-time) ease-in 50ms;
}

@keyframes projects-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

#my-projects-header {
  font-size: 48px;
}

#completed-projects,
#in-progress {
  font-size: 36px;
}

#dream-destinations {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 50%;
}

#dream-destinations-link {
  color: #1a1919;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

#dream-destinations-link:hover,
#dream-destinations-github-page:hover {
  color: #e8b9c2;
}

#dream-destinations-description {
  margin: 0px 150px 40px;
  text-align: center;
}

#dream-destinations-github-page {
  color: #1a1919;
}

/* CONTACT ME PAGE STYLING */
.contact-me {
  text-align: center;
  animation: contact-load var(--contact-load-time) ease-in 50ms;
}

@keyframes contact-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

#contact-me-header {
  font-size: 48px;
}

.contact-me-spiel {
  margin: 0px 150px 40px;
}

input {
  padding: 10px 55px;
  margin: 5px 0;
  box-sizing: border-box;
}

::placeholder {
  color: #1a1919;
  opacity: 0.85;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

#message {
  margin: 5px 0;
  padding: 40px;
}

#submit-button {
  background-color: #e8b9c2;
  color: #ffffff;
  border: 1px solid #e8b9c2;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.5s;
}

#submit-button:hover {
  background-color: #ffffff;
  color: #e8b9c2;
}

/* MEDIA QUERIES FOR RESPONSIVE DESIGN */
/* media queries for apple devices, based on this article https://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */
/* ----------- iPhone 4 and 4S and iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  /* HEADING STYLING */
  /* make webiste title smaller  */
  .website-name {
    font-size: 20px;
  }
  /* make sure nav bar is one line */
  #navigation {
    font-size: 8px;
  }
  /* FOOTER STYLING */
  .copyright {
    font-size: 12px;
  }
  /* LANDING STYLING */
  /* make main landing page text a little smaller */
  .greeting,
  .tag-line {
    font-size: 44px;
  }
  .headshot {
    max-width: 75%;
  }
  /* ABOUT ME PAGE STYLING */
  #about-me-header {
    font-size: 44px;
  }
  .about-me-spiel {
    margin: 0px 5px 5px;
  }
  /* MY PROJECTS PAGE */
  #my-projects-header {
    font-size: 44px;
  }
  #completed-projects,
  #in-progress {
    font-size: 24px;
  }
  #dream-destinations-link {
    font-size: 16px;
  }
  #dream-destinations-description {
    margin: 0px 5px 5px;
  }
  #dream-destinations {
    max-width: 75%;
  }
  /* CONTACT ME PAGE */
  #contact-me-header {
    font-size: 44px;
  }
  .contact-me-spiel {
    margin: 0px 5px 5px;
  }
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 569px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  /* HEADER STYLING */
  .website-name {
    font-size: 24px;
  }
  /* make nav bar a bit bigger */
  #navigation {
    font-size: 14px;
  }
  /* FOOTER STYLING */
  .copyright {
    font-size: 16px;
  }
  /* LANDING STYLING */
  .greeting,
  .tag-line {
    font-size: 48px;
  }
}
